.search-btn {
  background: #fe424d;
  color: #fff;
  border-radius: 25px;
  padding: 0.5rem 1.2rem;
  transition: 0.3s ease;
  white-space: nowrap;
}

.search-btn:hover {
  background: #ff5a65;
  color: #fff;
}

.search-btn i {
  margin-right: 0.5rem;
}

.search-inp {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 250px;
  transition: all 0.3s ease;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.navbar-collapse {
  position: static !important;
  background-color: white;
}

@media (max-width: 992px) {
  .search-inp {
    width: 180px;
  }
  .search-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .search-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
  }

  .search-inp {
    width: 100%;
    border-radius: 25px 0 0 25px;
    display: inline-block;
  }

  .search-btn {
    border-radius: 0 25px 25px 0;
    padding: 0.5rem 0.8rem;
  }

  .search-btn i {
    margin-right: 0;
  }

  .search-btn::after {
    content: "";
  }
}

.collapse.show {
  animation: 0.25s ease-in-out;
}
